{% extends "main_app/base.html" %}


{% block content %}
{% if user.is_authenticated %}
<div style="width: 70%; margin: 0 auto; text-align: center;">
    <br/>
    <div class="pb-1 mb-1 border-bottom">
        <div style="text-align: center;">
        {% if user.is_authenticated %}
        <a class="btn btn-dark btn-sm" href="{% url 'main_app:send_notification' %}">SMS+Email+TG</a><br/><br/>
        <a class="btn btn-dark btn-sm" href="{% url 'main_app:send_sms' %}">SMS уведомление</a><br/><br/>
        <a class="btn btn-dark btn-sm" href="{% url 'main_app:send_email' %}">Email уведомление</a><br/><br/>
        <a class="btn btn-dark btn-sm" href="{% url 'main_app:send_tg' %}">TG уведомление</a><br/><br/><br/>
        <a class="btn btn-primary btn-sm" href="{% url 'users_app:my_account' %}">Мой профиль</a>
        <a class="btn btn-primary btn-sm" href="{% url 'users_app:edit_user' %}">Редактировать профиль</a><br/><br/>
        {% endif %}
    </div>
    </div>
</div>
{% endif %}
<br/><br/><br/><br/><br/><br/>
{% endblock content %}